html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont,"Inter UI","Segoe UI", Helvetica,Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 12pt;
	text-rendering: geometricPrecision;
	line-height: 1.2;
}
* > * {
	box-sizing: border-box;
}
body {
	position: relative;
	overflow: hidden;
}
body::after {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	box-sizing: border-box;
	margin: 0;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	padding: 3em;
	content: "This website \a does not provide \a Internet Explorer Compatibility \a yet.";
	font-size: 4vw;
	font-weight: 700;
	text-align: center;
	white-space: pre;
	background-color: rgba(255,255,255,.975);
	z-index: 10000000000;
}