:root {
	/*
	 * Font Stacks
	 */
	--apple-stack: -apple-system, BlinkMacSystemFont;
	--system-stack: Lato, Roboto, system-ui, 'Helvetica Neue', HelveticaNeue,
		Helvetica, Arial, sans-serif;
	--mono-system-stack: 'SFMono-Regular', 'Roboto Mono', 'Inconsolata', 'Menlo',
		'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Consolas', Courier,
		'Courier New', monospace;
	--mono-stack: 'JetBrains Mono', 'Fira Code', 'Hack',
		var(--mono-system-stack);
	--font-stack: var(--apple-stack), 'Inter', var(--system-stack);
	--font-stack-hdg: var(--apple-stack), 'Inter Display', var(--system-stack);
	--font-size: 16px;
	--radius: 0.2rem;

	/*
	 * Fix some CSS font properties
	 */
	font-family: var(--font-stack);
	font-size: var(--font-size);
	font-kerning: normal;
	font-optical-sizing: auto;
	-webkit-font-size-adjust: 100%;
	font-size-adjust: 100%;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	font-smooth: auto;
	font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
	hyphens: auto;
	letter-spacing: -0.011em;
	line-height: 1.5;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
	word-spacing: normal;

	/*
     * Variables
     */
	--light-page-color-alpha: rgba(255, 255, 255, 0.8);
	--light-page-color-hover: rgba(255, 255, 255, 0.9);
	--light-page-color: rgba(255, 255, 255, 1);
	--light-alter-background: rgba(255, 255, 255, 1);
	--light-caption-background-alpha: rgba(0, 0, 0, 0.4);
	--light-caption-background: rgba(0, 0, 0, 0.5);
	--light-caption-background-hover: rgba(0, 0, 0, 0.6);
	--light-element-background-alpha: rgba(230, 230, 230, 0.2);
	--light-element-background: rgba(230, 230, 230, 0.3);
	--light-element-background-hover: rgba(230, 230, 230, 0.4);
	--light-element-border-alpha: rgba(230, 230, 230, 0.6);
	--light-element-border: rgba(230, 230, 230, 0.7);
	--light-element-border-hover: rgba(230, 230, 230, 0.8);
	--light-border-alpha: rgba(230, 230, 230, 0.6);
	--light-border: rgba(230, 230, 230, 0.7);
	--light-border-hover: rgba(230, 230, 230, 0.8);
	--light-inline-text-border-alpha: rgba(180, 180, 180, 0.2);
	--light-inline-text-border: rgba(180, 180, 180, 0.3);
	--light-inline-text-border-hover: rgba(180, 180, 180, 0.4);
	--light-input-background-alpha: rgba(255, 255, 255, 0.6);
	--light-input-background: rgba(255, 255, 255, 0.7);
	--light-input-background-hover: rgba(255, 255, 255, 0.8);
	--light-input-border-alpha: rgba(0, 0, 0, 0.05);
	--light-input-border: rgba(0, 0, 0, 0.1);
	--light-input-border-hover: rgba(0, 0, 0, 0.3);
	--light-input-shadow-alpha: rgba(0, 0, 0, 0.06125);
	--light-input-shadow: rgba(0, 0, 0, 0.125);
	--light-input-shadow-hover: rgba(0, 0, 0, 0.25);
	--light-decoration-alpha: rgba(230, 230, 230, 0.6);
	--light-decoration: rgba(230, 230, 230, 0.7);
	--light-decoration-hover: rgba(230, 230, 230, 0.8);
	--light-text-optional-light: rgba(200, 200, 200, 1);
	--light-text-optional-light-hover: rgba(200, 200, 200, 0.6);
	--light-text-optional: rgba(180, 180, 180, 1);
	--light-text-optional-hover: rgba(180, 180, 180, 0.6);
	--light-text-optional-dark: rgba(160, 160, 160, 1);
	--light-text-optional-dark-hover: rgba(160, 160, 160, 0.6);
	--light-text-color-light: rgba(48, 48, 48, 1);
	--light-text-color-light-hover: rgba(48, 48, 48, 0.6);
	--light-text-color: rgba(32, 32, 32, 1);
	--light-text-color-hover: rgba(32, 32, 32, 0.6);
	--light-text-color-dark: rgba(16, 16, 16, 1);
	--light-text-color-dark-hover: rgba(16, 16, 16, 0.6);
	--light-text-important-light: rgba(8, 8, 8, 1);
	--light-text-important-light-hover: rgba(8, 8, 8, 0.6);
	--light-text-important: rgba(0, 0, 0, 1);
	--light-text-important-hover: rgba(0, 0, 0, 0.6);
	--dark-page-color-alpha: rgba(27, 27, 27, 0.8);
	--dark-page-color-hover: rgba(27, 27, 27, 0.9);
	--dark-page-color: rgba(27, 27, 27, 1);
	--dark-alter-background: rgba(40, 40, 40, 1);
	--dark-caption-background-alpha: rgba(255, 255, 255, 0.4);
	--dark-caption-background: rgba(255, 255, 255, 0.5);
	--dark-caption-background-hover: rgba(255, 255, 255, 0.6);
	--dark-element-background-alpha: rgba(40, 40, 40, 0.5);
	--dark-element-background: rgba(40, 40, 40, 1);
	--dark-element-background-hover: rgba(40, 40, 40, 0.75);
	--dark-element-border-alpha: rgba(64, 64, 64, 0.5);
	--dark-element-border: rgba(64, 64, 64, 1);
	--dark-element-border-hover: rgba(64, 64, 64, 0.75);
	--dark-border-alpha: rgba(100, 100, 100, 0.6);
	--dark-border: rgba(100, 100, 100, 0.7);
	--dark-border-hover: rgba(100, 100, 100, 0.8);
	--dark-inline-text-border-alpha: rgba(180, 180, 180, 0.2);
	--dark-inline-text-border: rgba(180, 180, 180, 0.3);
	--dark-inline-text-border-alpha: rgba(180, 180, 180, 0.4);
	--dark-input-background-alpha: rgba(24, 24, 24, 0.8);
	--dark-input-background: rgba(24, 24, 24, 0.9);
	--dark-input-background-hover: rgba(24, 24, 24, 0.7);
	--dark-input-border-alpha: rgba(255, 255, 255, 0.05);
	--dark-input-border: rgba(255, 255, 255, 0.1);
	--dark-input-border-hover: rgba(255, 255, 255, 0.3);
	--dark-input-shadow-alpha: rgba(0, 0, 0, 0.125);
	--dark-input-shadow: rgba(0, 0, 0, 0.25);
	--dark-input-shadow-hover: rgba(0, 0, 0, 0.4);
	--dark-decoration-alpha: rgba(64, 64, 64, 0.5);
	--dark-decoration: rgba(64, 64, 64, 1);
	--dark-decoration-hover: rgba(64, 64, 64, 0.75);
	--dark-text-optional-light: rgba(80, 80, 80, 1);
	--dark-text-optional-light-hover: rgba(80, 80, 80, 0.6);
	--dark-text-optional: rgba(100, 100, 100, 1);
	--dark-text-optional-hover: rgba(100, 100, 100, 0.6);
	--dark-text-optional-dark: rgba(120, 120, 120, 1);
	--dark-text-optional-dark-hover: rgba(120, 120, 120, 0.6);
	--dark-text-color-light: rgba(212, 212, 212, 1);
	--dark-text-color-light-hover: rgba(212, 212, 212, 0.6);
	--dark-text-color: rgba(228, 228, 228, 1);
	--dark-text-color-hover: rgba(228, 228, 228, 0.6);
	--dark-text-color-dark: rgba(244, 244, 244, 1);
	--dark-text-color-dark-hover: rgba(244, 244, 244, 0.6);
	--dark-text-important-light: rgba(243, 243, 243, 1);
	--dark-text-important-light-hover: rgba(243, 243, 243, 0.6);
	--dark-text-important: rgba(255, 255, 255, 1);
	--dark-text-important-hover: rgba(255, 255, 255, 0.6);

	/*
     * SVG Objects
     */
	--light-select-arrows: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMTE4IDExOCIgZmlsbD0iYmxhY2siIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik02My4xNDIsOTAuMjMxbC0xNi4wMTUsLTI0LjYwM2wzMi4wMjksMGwtMTYuMDE0LDI0LjYwM1oiLz48cGF0aCBkPSJNNjMuMTQyLDI3LjIzMWwxNi4wMTQsMjQuNjAzbC0zMi4wMjksMGwxNi4wMTUsLTI0LjYwM1oiLz48L3N2Zz4=);

	--dark-select-arrows: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMTE4IDExOCIgZmlsbD0id2hpdGUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik02My4xNDIsOTAuMjMxbC0xNi4wMTUsLTI0LjYwM2wzMi4wMjksMGwtMTYuMDE0LDI0LjYwM1oiLz48cGF0aCBkPSJNNjMuMTQyLDI3LjIzMWwxNi4wMTQsMjQuNjAzbC0zMi4wMjksMGwxNi4wMTUsLTI0LjYwM1oiLz48L3N2Zz4=);

	--tr-short: 200ms;
	--tr-mid: 300ms;
	--tr-long: 500ms;
	--tr-func: ease-in-out;
}

@supports (font-variation-settings: normal) {
	:root {
		--font-stack: var(--apple-stack), 'Inter Var', 'Inter',
			var(--system-stack);
		--font-stack-hdg: var(--apple-stack), 'Inter Display Var',
			'Inter Display', 'Inter Var', 'Inter', var(--system-stack);
		--mono-stack: 'JetBrains Mono', 'Fira Code Var', 'Fira Code', 'Hack',
			var(--mono-system-stack);
	}
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--tr-short: 0ms;
		--tr-mid: 0ms;
		--tr-long: 0ms;
		--tr-func: linear;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--page-color-alpha: var(--light-page-color-alpha);
		--page-color-hover: var(--light-page-color-hover);
		--page-color: var(--light-page-color);
		--alter-background: var(--light-alter-background);
		--caption-background-alpha: var(--light-caption-background-alpha);
		--caption-background: var(--light-caption-background);
		--caption-background-hover: var(--light-caption-background-hover);
		--element-background-alpha: var(--light-element-background-alpha);
		--element-background: var(--light-element-background);
		--element-background-hover: var(--light-element-background-hover);
		--element-border-alpha: var(--light-element-border-alpha);
		--element-border: var(--light-element-border);
		--element-border-hover: var(--light-element-border-hover);
		--border-alpha: var(--light-border-alpha);
		--border: var(--light-border);
		--border-hover: var(--light-border-hover);
		--inline-text-border-alpha: var(--light-inline-text-border-alpha);
		--inline-text-border: var(--light-inline-text-border);
		--inline-text-border-hover: var(--light-inline-text-border-hover);
		--input-background-alpha: var(--light-input-background-alpha);
		--input-background: var(--light-input-background);
		--input-background-hover: var(--light-input-background-hover);
		--input-border-alpha: var(--light-input-border-alpha);
		--input-border: var(--light-input-border);
		--input-border-hover: var(--light-input-border-hover);
		--input-shadow-alpha: var(--light-input-shadow-alpha);
		--input-shadow: var(--light-input-shadow);
		--input-shadow-hover: var(--light-input-shadow-hover);
		--decoration-alpha: var(--light-decoration-alpha);
		--decoration: var(--light-decoration);
		--decoration-hover: var(--light-decoration-hover);
		--text-optional-light: var(--light-text-optional-light);
		--text-optional-light-hover: var(--light-text-optional-light-hover);
		--text-optional: var(--light-text-optional);
		--text-optional-hover: var(--light-text-optional-hover);
		--text-optional-dark: var(--light-text-optional-dark);
		--text-optional-dark-hover: var(--light-text-optional-dark-hover);
		--text-color-light: var(--light-text-color-light);
		--text-color-light-hover: var(--light-text-color-light-hover);
		--text-color: var(--light-text-color);
		--text-color-hover: var(--light-text-color-hover);
		--text-color-dark: var(--light-text-color-dark);
		--text-color-dark-hover: var(--light-text-color-dark-hover);
		--text-important-light: var(--light-text-important-light);
		--text-important-light-hover: var(--light-text-important-light-hover);
		--text-important: var(--light-text-important);
		--text-important-hover: var(--light-text-important-hover);
		--select-arrows: var(--light-select-arrows);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-color-alpha: var(--dark-page-color-alpha);
		--page-color-hover: var(--dark-page-color-hover);
		--page-color: var(--dark-page-color);
		--alter-background: var(--dark-alter-background);
		--caption-background-alpha: var(--dark-caption-background-alpha);
		--caption-background: var(--dark-caption-background);
		--caption-background-hover: var(--dark-caption-background-hover);
		--element-background-alpha: var(--dark-element-background-alpha);
		--element-background: var(--dark-element-background);
		--element-background-hover: var(--dark-element-background-hover);
		--element-border-alpha: var(--dark-element-border-alpha);
		--element-border: var(--dark-element-border);
		--element-border-hover: var(--dark-element-border-hover);
		--border-alpha: var(--dark-border-alpha);
		--border: var(--dark-border);
		--border-hover: var(--dark-border-hover);
		--inline-text-border-alpha: var(--dark-inline-text-border-alpha);
		--inline-text-border: var(--dark-inline-text-border);
		--inline-text-border-hover: var(--dark-inline-text-border-hover);
		--input-background-alpha: var(--dark-input-background-alpha);
		--input-background: var(--dark-input-background);
		--input-background-hover: var(--dark-input-background-hover);
		--input-border-alpha: var(--dark-input-border-alpha);
		--input-border: var(--dark-input-border);
		--input-border-hover: var(--dark-input-border-hover);
		--input-shadow-alpha: var(--dark-input-shadow-alpha);
		--input-shadow: var(--dark-input-shadow);
		--input-shadow-hover: var(--dark-input-shadow-hover);
		--decoration-alpha: var(--dark-decoration-alpha);
		--decoration: var(--dark-decoration);
		--decoration-hover: var(--dark-decoration-hover);
		--text-optional-light: var(--dark-text-optional-light);
		--text-optional-light-hover: var(--dark-text-optional-light-hover);
		--text-optional: var(--dark-text-optional);
		--text-optional-hover: var(--dark-text-optional-hover);
		--text-optional-dark: var(--dark-text-optional-dark);
		--text-optional-dark-hover: var(--dark-text-optional-dark-hover);
		--text-color-light: var(--dark-text-color-light);
		--text-color-light-hover: var(--dark-text-color-light-hover);
		--text-color: var(--dark-text-color);
		--text-color-hover: var(--dark-text-color-hover);
		--text-color-dark: var(--dark-text-color-dark);
		--text-color-dark-hover: var(--dark-text-color-dark-hover);
		--text-important-light: var(--dark-text-important-light);
		--text-important-light-hover: var(--dark-text-important-light-hover);
		--text-important: var(--dark-text-important);
		--text-important-hover: var(--dark-text-important-hover);
		--select-arrows: var(--dark-select-arrows);
	}
}

.color-scheme-light {
	--page-color-alpha: var(--light-page-color-alpha);
	--page-color-hover: var(--light-page-color-hover);
	--page-color: var(--light-page-color);
	--alter-background: var(--light-alter-background);
	--caption-background-alpha: var(--light-caption-background-alpha);
	--caption-background: var(--light-caption-background);
	--caption-background-hover: var(--light-caption-background-hover);
	--element-background-alpha: var(--light-element-background-alpha);
	--element-background: var(--light-element-background);
	--element-background-hover: var(--light-element-background-hover);
	--element-border-alpha: var(--light-element-border-alpha);
	--element-border: var(--light-element-border);
	--element-border-hover: var(--light-element-border-hover);
	--border-alpha: var(--light-border-alpha);
	--border: var(--light-border);
	--border-hover: var(--light-border-hover);
	--inline-text-border-alpha: var(--light-inline-text-border-alpha);
	--inline-text-border: var(--light-inline-text-border);
	--inline-text-border-hover: var(--light-inline-text-border-hover);
	--input-background-alpha: var(--light-input-background-alpha);
	--input-background: var(--light-input-background);
	--input-background-hover: var(--light-input-background-hover);
	--input-border-alpha: var(--light-input-border-alpha);
	--input-border: var(--light-input-border);
	--input-border-hover: var(--light-input-border-hover);
	--input-shadow-alpha: var(--light-input-shadow-alpha);
	--input-shadow: var(--light-input-shadow);
	--input-shadow-hover: var(--light-input-shadow-hover);
	--decoration-alpha: var(--light-decoration-alpha);
	--decoration: var(--light-decoration);
	--decoration-hover: var(--light-decoration-hover);
	--text-optional-light: var(--light-text-optional-light);
	--text-optional-light-hover: var(--light-text-optional-light-hover);
	--text-optional: var(--light-text-optional);
	--text-optional-hover: var(--light-text-optional-hover);
	--text-optional-dark: var(--light-text-optional-dark);
	--text-optional-dark-hover: var(--light-text-optional-dark-hover);
	--text-color-light: var(--light-text-color-light);
	--text-color-light-hover: var(--light-text-color-light-hover);
	--text-color: var(--light-text-color);
	--text-color-hover: var(--light-text-color-hover);
	--text-color-dark: var(--light-text-color-dark);
	--text-color-dark-hover: var(--light-text-color-dark-hover);
	--text-important-light: var(--light-text-important-light);
	--text-important-light-hover: var(--light-text-important-light-hover);
	--text-important: var(--light-text-important);
	--text-important-hover: var(--light-text-important-hover);
	--select-arrows: var(--light-select-arrows);
}

.color-scheme-dark {
	--page-color-alpha: var(--dark-page-color-alpha);
	--page-color-hover: var(--dark-page-color-hover);
	--page-color: var(--dark-page-color);
	--alter-background: var(--dark-alter-background);
	--caption-background-alpha: var(--dark-caption-background-alpha);
	--caption-background: var(--dark-caption-background);
	--caption-background-hover: var(--dark-caption-background-hover);
	--element-background-alpha: var(--dark-element-background-alpha);
	--element-background: var(--dark-element-background);
	--element-background-hover: var(--dark-element-background-hover);
	--element-border-alpha: var(--dark-element-border-alpha);
	--element-border: var(--dark-element-border);
	--element-border-hover: var(--dark-element-border-hover);
	--border-alpha: var(--dark-border-alpha);
	--border: var(--dark-border);
	--border-hover: var(--dark-border-hover);
	--inline-text-border-alpha: var(--dark-inline-text-border-alpha);
	--inline-text-border: var(--dark-inline-text-border);
	--inline-text-border-hover: var(--dark-inline-text-border-hover);
	--input-background-alpha: var(--dark-input-background-alpha);
	--input-background: var(--dark-input-background);
	--input-background-hover: var(--dark-input-background-hover);
	--input-border-alpha: var(--dark-input-border-alpha);
	--input-border: var(--dark-input-border);
	--input-border-hover: var(--dark-input-border-hover);
	--input-shadow-alpha: var(--dark-input-shadow-alpha);
	--input-shadow: var(--dark-input-shadow);
	--input-shadow-hover: var(--dark-input-shadow-hover);
	--decoration-alpha: var(--dark-decoration-alpha);
	--decoration: var(--dark-decoration);
	--decoration-hover: var(--dark-decoration-hover);
	--text-optional-light: var(--dark-text-optional-light);
	--text-optional-light-hover: var(--dark-text-optional-light-hover);
	--text-optional: var(--dark-text-optional);
	--text-optional-hover: var(--dark-text-optional-hover);
	--text-optional-dark: var(--dark-text-optional-dark);
	--text-optional-dark-hover: var(--dark-text-optional-dark-hover);
	--text-color-light: var(--dark-text-color-light);
	--text-color-light-hover: var(--dark-text-color-light-hover);
	--text-color: var(--dark-text-color);
	--text-color-hover: var(--dark-text-color-hover);
	--text-color-dark: var(--dark-text-color-dark);
	--text-color-dark-hover: var(--dark-text-color-dark-hover);
	--text-important-light: var(--dark-text-important-light);
	--text-important-light-hover: var(--dark-text-important-light-hover);
	--text-important: var(--dark-text-important);
	--text-important-hover: var(--dark-text-important-hover);
	--select-arrows: var(--dark-select-arrows);
}

*,
* ::before,
* ::after {
	box-sizing: border-box;
	font-family: inherit;
	font-kerning: inherit;
	font-optical-sizing: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-rendering: inherit;
	vertical-align: inherit;
}

html,
body {
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

html {
	font-size: 1rem;
}

body {
	background-color: var(--page-color);
	color: var(--text-color);
}

::placeholder {
	color: var(--text-optional);
	transition: color var(--tr-short) var(--tr-func);
}

::-moz-placeholder {
	color: var(--text-optional);
	transition: color var(--tr-short) var(--tr-func);
}

[hidden] {
	display: none !important;
}

head,
meta,
link,
script {
    display: none !important;
}

[disabled],
[disabled]:hover,
[disabled]:focus {
	cursor: not-allowed;
	opacity: 0.7 !important;
}

a,
a:link,
a:active,
a:visited {
	color: var(--text-important);
	filter: opacity(100%);
	font-weight: bold;
	text-decoration: none;
	opacity: 1;
	outline: none;
	transition: color var(--tr-short) var(--tr-func);
}

a:hover,
.\:hover a,
a.\:hover,
a:visited:hover {
	color: var(--text-important-hover);
	transition: color var(--tr-short) var(--tr-func);
}

a img {
	opacity: 1;
	transition: opacity var(--tr-short) var(--tr-func);
}
a:hover img,
a:visited:hover img {
	opacity: 0.7;
	transition: opacity var(--tr-short) var(--tr-func);
}

img {
	border: 0;
	height: auto;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	max-width: 100%;
	opacity: 1;
	transition: opacity var(--tr-short) var(--tr-func);
}

abbr,
abbr[title],
acronym {
	border-bottom: 2px dotted currentColor;
	text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2em;
	letter-spacing: -0.022em;
	line-height: 1.1;
	margin: 0.67em 0 0.67em;
}

h2,
.h2 {
	font-size: 1.5em;
	letter-spacing: -0.019em;
	line-height: 1.15;
	margin: 0.75em 0 0.75em;
}

h3,
.h3 {
	font-size: 1.17em;
	letter-spacing: -0.015em;
	line-height: 1.2;
	margin: 0.83em 0 0.83em;
}

h4,
.h4 {
	font-size: 1em;
	letter-spacing: -0.011em;
	line-height: 1.4;
	margin: 1.12em 0 1.12em;
}

h5,
.h5 {
	font-size: 0.83em;
	letter-spacing: -0.004em;
	line-height: 1.45;
	margin: 1.5em 0 1.5em;
}

h6,
.h6 {
	font-size: 0.75rem;
	letter-spacing: 0;
	line-height: 1.5;
	margin: 1.67em 0 1.67em;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: 3em;
}

blockquote {
	border: 0;
	color: var(--text-important);
	font-size: 1.1em;
	font-weight: normal;
	hyphens: none;
	padding: 2rem;
	position: relative;
	text-align: left;
}

blockquote:not([class*='align']) {
	margin: 2rem 0;
}

blockquote p {
	margin: 0;
	padding: 0;
}

blockquote cite {
	display: block;
	margin-top: 1.4rem;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

blockquote cite,
blockquote a cite,
blockquote cite a {
	color: var(--text-optional);
}

blockquote cite::before {
	content: '\2013';
	padding-right: 0.75ch;
}

small {
	font-size: 0.75em;
	letter-spacing: 0em;
}

big {
	font-size: 1.25em;
	letter-spacing: -0.017em;
}

b,
strong {
	font-weight: bolder;
}

cite br {
	display: none;
}

details {
	background-color: var(--element-background);
	border-radius: var(--radius);
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0 1rem;
}

details:not(:first-child) {
	margin-top: 2em;
	padding-left: 1rem;
	padding-right: 1rem;
}

details[open] {
	padding-bottom: 0.8em;
}

details > summary {
	border-radius: var(--radius);
}

details[open] > summary {
	border-radius: var(--radius) var(--radius) 0 0;
}

summary {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border-radius: var(--radius);
	cursor: pointer;
	display: list-item;
	list-style: none;
	outline: none !important;
	margin: 0 -0.8em;
	padding: 0.8em;
}

summary:hover {
	background-color: var(--element-background-hover);
}

summary::-webkit-details-marker {
	display: none;
}

summary::before {
	content: '\2303';
	display: inline-block;
	font-feature-settings: 'case';
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1;
	margin-right: 0.5em;
	padding: 0;
	transform: translateY(-0.125em) rotateX(180deg);
	vertical-align: top;
}

[open] summary::before {
	transform: translateY(0.25em) rotateX(0deg);
}

summary + * {
	margin-top: 0.5rem;
}

dfn {
	border-bottom: 2px solid currentColor;
}

dt {
	font-weight: bold;
	padding-left: 0em;
}

dd {
	margin-bottom: 1em;
}

figure {
	height: auto;
	padding: 0;
	position: relative;
	text-align: center;
	width: auto;
}

figcaption {
	margin: 1rem auto;
	padding: 0 1rem;
}

figure:not([class*='align']) {
	margin: 2rem auto;
}

hr {
	background-color: var(--decoration);
	border: 1px solid var(--decoration);
	border-radius: var(--radius);
	box-sizing: content-box;
	clear: both;
	height: 0;
	margin: 5rem auto;
	overflow: visible;
}

tt,
var,
kbd,
samp,
code,
pre {
	font-family: var(--mono-stack) !important;
	font-size: 1em !important;
	letter-spacing: 0 !important;
}

pre,
:not(pre) > code,
kbd {
	background-color: var(--element-background);
}

:not(pre) > code,
kbd,
mark,
var {
	border-radius: 0.125rem;
	margin-left: 0.25ch;
	margin-right: 0.25ch;
	padding-left: 0.5ch;
	padding-right: 0.5ch;
}

:not(pre) > code,
kbd,
var {
	border: 1px solid var(--element-border);
}

pre {
	border-radius: var(--radius);
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 1.5rem;
	overflow-x: auto;
	overflow-y: hidden;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre > code {
	overflow-x: auto;
	white-space: pre;
}

sub,
sup {
	font-size: 0.75em;
	letter-spacing: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

template {
	display: none;
}

table {
	background-color: transparent;
	border-collapse: collapse;
	margin: 0 auto 2em;
}

table:not(:first-child) {
	margin-top: 2em;
}

caption {
	border: none;
	color: var(--text-optional-dark);
	padding: 0.4em 0.2em;
}

th,
td {
	padding: 0.25em 0.5em;
}

table,
th,
tr,
td,
thead,
tbody,
tfoot {
	border: 2px solid var(--element-border);
}

thead {
	color: var(--text-important);
}

tfoot {
	color: var(--text-optional);
}

button,
input,
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-color: unset;
	border-color: unset;
	border-style: solid;
	border-width: 2px;
	color: initial;
	font-family: var(--font-stack);
	font-size: 1rem;
	letter-spacing: -0.011em;
	line-height: 1.5;
	margin: 0;
	padding: 0.75ex 1.25ch;
	max-width: unset;
	min-height: 0;
	min-width: 0;
	position: relative;
	vertical-align: baseline;
	z-index: 0;
}

form {
	border-radius: var(--radius);
	margin: 0;
	padding: 0;
	position: relative;
}

form p,
label {
	margin: initial;
}

input,
select,
textarea {
	background-color: var(--input-background);
	border-radius: var(--radius);
	border-color: var(--element-border);
	box-shadow: 0 5px 10px -5px var(--inherit-box-shadow);
	color: var(--text-color);
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill:active,
textarea:-webkit-autofill:active {
	transition-property: background-color, color;
	transition-delay: 1000s;
}

form input,
form select,
form textarea {
	box-shadow: none;
}

input:focus,
select:focus,
textarea:focus {
	border-color: var(--text-color);
	color: var(--text-important);
	outline: 0;
	outline-offset: 0;
}

textarea {
	max-width: 100%;
	min-height: 7.5rem;
	overflow: auto;
}

button:not(.no-style),
.button > a:not(.no-style),
a.button:not(.no-style),
input[type='button']:not(.no-style),
input[type='submit']:not(.no-style),
input[type='reset']:not(.no-style) {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: var(--text-color);
	border: 2px solid var(--text-color);
	border-radius: var(--radius);
	color: var(--page-color);
	cursor: pointer;
	font-weight: 700;
	margin: 0;
	padding: 0.75ex 1.25ch;
	box-shadow: 0 2px 10px 2px var(--input-shadow-alpha);
	transition-property: background-color, border-color, color, box-shadow,
		transform;
	transition-duration: var(--tr-short);
	transition-timing-function: var(--tr-func);
	vertical-align: baseline;
}

button:not(:disabled):not(.no-style):hover,
.button > a:not(.no-style):hover,
.button > a:not(.no-style):visited:hover,
a.button:not(.no-style):hover,
a.button:not(.no-style):visited:hover,
input[type='button']:not(:disabled):not(.no-style):hover,
input[type='submit']:not(:disabled):not(.no-style):hover,
input[type='reset']:not(:disabled):not(.no-style):hover {
	background-color: var(--text-important);
	border-color: var(--text-important);
	box-shadow: 0 0 5px 0 var(--input-shadow-alpha);
	transform: scale(1);
	transition-property: background-color, border-color, color, box-shadow,
		transform;
	transition-duration: var(--tr-short);
	transition-timing-function: var(--tr-func);
}

button:not(:disabled):not(.no-style):active,
button:not(:disabled):not(.no-style):hover:active,
.button > a:not(.no-style):active,
.button > a:not(.no-style):hover:active,
a.button:not(:disabled):active,
a.button:not(:disabled):hover:active,
input[type='button']:not(:disabled):active,
input[type='button']:not(:disabled):hover:active,
input[type='submit']:not(:disabled):active,
input[type='submit']:not(:disabled):hover:active,
input[type='reset']:not(:disabled):active,
input[type='reset']:not(:disabled):hover:active {
	background-color: var(--text-important-hover);
	border-color: var(--input-border);
	box-shadow: 0 0 5px 0 var(--input-shadow-alpha);
	transform: scale(0.975);
	transition-property: background-color, border-color, color, box-shadow,
		transform;
	transition-duration: var(--tr-short);
	transition-timing-function: var(--tr-func);
}

::-webkit-input-placeholder {
	line-height: 1.5;
}

::placeholder {
	line-height: 1.5;
}

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: none;
	outline: none;
	padding: 0;
}

button:-moz-focusring,
input[type='button']:-moz-focusring,
input[type='reset']:-moz-focusring,
input[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

select {
	background-image: var(--select-arrows);
	background-position: center right;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-size: auto 2em;
	padding-right: 2rem;
	width: auto;
}

/* Checkbox + Radio */

input[type='checkbox']::-ms-check {
	border-color: rgba(0, 0, 0, 0);
	color: rgb(80, 80, 80);
}

input[type='checkbox'],
input[type='radio'] {
	align-content: center;
	align-items: center;
	background-color: transparent;
	border-color: currentColor;
	display: inline-flex;
	color: var(--text-color);
	font-feature-settings: 'case';
	font-weight: 600;
	height: 1rem !important;
	justify-content: center;
	letter-spacing: 0;
	padding: 0 !important;
	vertical-align: -0.11rem;
	width: 1rem !important;
	z-index: 0;
}

input[type='checkbox'] {
	border-radius: 0.125rem;
}

input[type='radio'] {
	border-radius: 1rem;
}

input[type='checkbox']:not(:only-child),
input[type='radio']:not(:only-child) {
	margin-right: 1ch;
}

input[type='checkbox']::before,
input[type='radio']::before {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

input[type='checkbox']::before {
	color: var(--page-color);
	content: '\2713';
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0rem;
}

input[type='radio']::before {
	background-color: var(--page-color);
	border-radius: 0.45rem;
	content: '';
	height: 0.45rem;
	width: 0.45rem;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
	background-color: var(--text-color);
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
	visibility: visible;
}

/* Range */

input[type='range'] {
	-webkit-appearance: none;
	-o-appearance: none;
	color: var(--text-color);
	padding: 0.5rem;
	border: none;
	border-radius: 2rem;
	background-color: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	-o-appearance: none;
	height: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--border);
}

/* input[type='range']:focus::-webkit-slider-runnable-track {} */

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	-o-appearance: none;
	background-color: currentColor;
	border: 0;
	border-radius: 1rem;
	height: 1rem !important;
	margin-top: -0.25rem;
	width: 1rem !important;
}

/* Range Firefox */

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	height: 5px;
	border: 0;
	border-radius: 1em;
	background-color: var(--inline-text-border);
}

input[type='range']:focus::-moz-range-track {
	background-color: var(--inline-text-border);
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	height: 0.9em;
	width: 0.9em;
	margin-top: -4px;
	border: 1px solid currentColor;
	border-radius: 1em;
	background-color: currentColor;
}

/* Range Microsoft */

input[type='range']::-ms-track {
	width: 100%;
	height: 5px;
	border-radius: 3px;
}

input[type='range']::-ms-fill-lower {
	border: 2.5px solid rgb(120, 120, 120);
	border-radius: 3px;
	background-color: rgb(120, 120, 120);
}

input[type='range']::-ms-fill-upper {
	border: 2.5px solid rgb(120, 120, 120);
	border-radius: 3px;
	background-color: rgb(120, 120, 120);
}

input[type='range']::-ms-thumb {
	height: 0.8125em;
	width: 0.8125em;
	margin-top: 0.046875em;
	border: 1px solid rgb(120, 120, 120);
	border-radius: 1em;
	background: white;
}

input[type='range']::-ms-fill-lower:focus {
	background-color: rgb(120, 120, 120);
}

input[type='range']::-ms-fill-upper:focus {
	background-color: rgb(120, 120, 120);
}

/* Number */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	font-size: 1.5em;
}

input[type='search'] {
	outline-offset: -2px;
}

input[type='search'],
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font-family: var(--font-stack);
}

fieldset {
	background-color: var(--element-background);
	border: 2px solid var(--element-border);
	border-radius: var(--radius);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	max-width: 100%;
	padding: 1rem;
}

legend {
	margin: 0 0.125em;
	padding: 0.25em 0.75em;
	background-color: var(--element-background);
	border: 2px solid var(--element-border);
	border-radius: var(--radius);
	font-weight: bolder;
	text-align: left;
}

progress {
	vertical-align: baseline;
}

iframe {
	border: 0;
	max-width: 100%;
	padding: 0;
	resize: none;
}
