@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 100;
	src: url("https://rsms.me/inter/font-files/Inter-Thin.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Thin.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 100;
	src: url("https://rsms.me/inter/font-files/Inter-ThinItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-ThinItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 200;
	src: url("https://rsms.me/inter/font-files/Inter-ExtraLight.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-ExtraLight.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 200;
	src: url("https://rsms.me/inter/font-files/Inter-ExtraLightItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-ExtraLightItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 300;
	src: url("https://rsms.me/inter/font-files/Inter-Light.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Light.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 300;
	src: url("https://rsms.me/inter/font-files/Inter-LightItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-LightItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	src: url("https://rsms.me/inter/font-files/Inter-Italic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Italic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Medium.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 500;
	src: url("https://rsms.me/inter/font-files/Inter-MediumItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-MediumItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-SemiBold.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	src: url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 700;
	src: url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 800;
	src: url("https://rsms.me/inter/font-files/Inter-ExtraBold.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 800;
	src: url("https://rsms.me/inter/font-files/Inter-ExtraBoldItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-ExtraBoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 900;
	src: url("https://rsms.me/inter/font-files/Inter-Black.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-Black.woff") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 900;
	src: url("https://rsms.me/inter/font-files/Inter-BlackItalic.woff2") format("woff2"),
		 url("https://rsms.me/inter/font-files/Inter-BlackItalic.woff") format("woff");
}
@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'),
		 url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-regular.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-bold.woff2?sha=3114f1256') format('woff2'),
		 url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-bold.woff?sha=3114f1256') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-italic.woff2?sha=3114f1256') format('woff2'),
		 url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-italic.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Hack';
	src: url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'),
		 url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
	font-weight: 700;
	font-style: italic;
}
